body{
    display: flex;
    justify-content: center;
}

.container{
    display: flex;
    flex-direction: column;
    flex-basis: 6cm;
}


.box{
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    flex-basis: 2cm;
}

.sub-box{
    display: flex;
    border: 1px solid black;
    gap: 10px;
    flex-basis: 2cm;

}

